.hero {
  display: flex;
  background: #f0e6d8;
  min-height: 290px;
  width: calc(100% - 4rem);
  margin: 1.4rem auto 0;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.hero-content {
  flex: 1;
  padding: 2.4rem 3.4rem;
  z-index: 2;
  color: #4f5770;
  text-align: left;
}

.hero-subtitle {
  font-size: 0.95rem;
  color: #66718f;
  margin-bottom: 0.65rem;
  font-weight: 600;
}

.hero-title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: #4f5770;
}

.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  z-index: 1;
  height: 100%;
}

.hero-img {
  width: 100%;
  max-width: 560px;
  height: 100%;
  max-height: 290px;
  object-fit: cover;
}

@media (max-width: 900px) {
  .hero {
    width: calc(100% - 2rem);
    min-height: 240px;
  }

  .hero-content {
    padding: 1.4rem;
  }

  .hero-title {
    font-size: 2.2rem;
  }
}
